<div class="container" xmlns:color="http://www.w3.org/1999/xhtml">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cestas</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a>
                </li>
                <li class="active">Cestas</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div>
            <div ng-controller="MyController" class="my-controller">
                <h1>Cestas</h1>

                <div class="row">
                    <div class="col-xs-4">
                        <h3>Cestas Pagina: {{ currentPage }}</h3>
                    </div>
                    <div class="col-xs-4">
                        <label for="search">Busca:</label>
                        <input ng-model="q" id="search" class="form-control" placeholder="Texto para filtro">
                    </div>
                    <div class="col-xs-4">
                        <label for="search">items por pagina:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <ul>
                            <li dir-paginate="cesta in cestas | filter:q | itemsPerPage: pageSize" current-page="currentPage" class="col-md-4 img-portfolio img-thumbnail">
                                <!--<a href="#/cesta" id="pop" data-toggle="modal" data-target="#teste" ng-click="clickImagem(cesta.foto)">-->
                                <a href="#/cesta" id="pop" data-toggle="modal" data-target="#modalCesta" ng-click="setCaminhoImagem(cesta.foto, cesta.nome)">
                                    <!--<img id="imageresource" ng-src="{{cesta.foto}}" style="width:100%; height: 264px;" data-toggle="modal" data-target="#teste" ng-click="selectedImg.src=cesta.foto">-->
                                    <img id="imageresource" ng-src="{{cesta.foto}}" style="width:100%; height: 264px;">
                                </a>
                                <br>
                                <h3>{{cesta.nome}}</h3>
                                <br>
                                {{cesta.descricao}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalCesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="MyController">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"></h2>
        </div>
        <div class="modal-body" style=" width: 100%; height: 100%;">
            <img id="imagemModal" style="width:100%; height: 100%;">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<style>
    .modal .modal-dialog { width: 50%; }
</style>