<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contato
                <small>Claudia Pinto</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a>
                </li>
                <li class="active">Contato</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29243.422753151615!2d-46.58246040137733!3d-23.624844194006393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c58617ee83b%3A0xc53b6605800244b2!2sS%C3%A3o+Caetano+do+Sul%2C+SP!5e0!3m2!1spt-BR!2sbr!4v1460854860732" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Informações para contato</h3>
            <p>
                Rua, Numero - Bairro<br>Cidade, Estado CEP<br>
            </p>
            <p><i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr>: (123) 456-7890</p>
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com</a>
            </p>
            <p><i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Segunda a Sexta: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/claudia.pinto.14473"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <!--<div class="row">-->
        <!--<div class="col-md-8">-->
            <!--<h3>Send us a Message</h3>-->
            <!--<form name="sentMessage" id="contactForm" novalidate>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Full Name:</label>-->
                        <!--<input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">-->
                        <!--<p class="help-block"></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Phone Number:</label>-->
                        <!--<input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Email Address:</label>-->
                        <!--<input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Message:</label>-->
                        <!--<textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="success"></div>-->
                <!--&lt;!&ndash; For success/fail messages &ndash;&gt;-->
                <!--<button type="submit" class="btn btn-primary">Send Message</button>-->
            <!--</form>-->
        <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash; /.row &ndash;&gt;-->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p>Copyright &copy; Luis Moro 2016  </p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
