<!--&lt;!&ndash; Header Carousel &ndash;&gt;-->
<!--<header id="myCarousel" class="carousel slide">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="carousel-inner">-->
        <!--<div class="item active">-->
            <!--<div class="fill" style="background-image:url('images/CestasJuntas.jpg');"></div>-->
            <!--<div class="carousel-caption">-->
                <!--<h2>Cestas com Chocolates</h2>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="fill" style="background-image:url('images/flores.jpg');"></div>-->
            <!--<div class="carousel-caption">-->
                <!--<h2>Flores</h2>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="fill" style="background-image:url('images/cestasFlores.jpg');"></div>-->
            <!--<div class="carousel-caption">-->
                <!--<h2>Cestas com Flores</h2>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
        <!--<span class="icon-prev"></span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
        <!--<span class="icon-next"></span>-->
    <!--</a>-->
<!--</header>-->

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row" ng-controller="CestaCtrl">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cestas Decoradas
            </h1>
        </div>
        <div class="col-sm-2" ng-repeat="cesta in cestasPrincipal" style="margin-bottom: 30px">
            <a href="#/" id="pop" data-toggle="modal" data-target="#modalCesta" ng-click="setCaminhoImagem(cesta.foto, cesta.nome)">
                <img id="imageresource" src="{{cesta.foto}}" width="100" height="100">
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modalCesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel"></h2>
            </div>
            <div class="modal-body" style=" width: 100%; height: 100%;">
                <img id="imagemModal" style="width:100%; height: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <style>
        .modal .modal-dialog { width: 50%; }
    </style>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p>Copyright &copy; Luis Moro 2016  </p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>