<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sobre
                <small>Claudia Pinto</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a>
                </li>
                <li class="active">Sobre</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="images/fotoSobre.jpg" alt="">
        </div>
        <div class="col-md-9">
            <h2>Claudia Pinto</h2>
            <p>Empresária/proprietária na empresa Sonhos das Cestas</p>

        </div>
    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p>Copyright &copy; Luis Moro 2016  </p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

